#formDiv{
    box-sizing: border-box;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    width: 45vw;
    margin-left: 7%;
    height: fit-content;
    align-self: flex-end;
    justify-self: flex-start;
}
#svg{
    position: absolute;
    z-index: 0;
    width: 35vw;
    max-width: 500px;
}
#form{
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    padding: 10% 7%;
    height: 70vh;
    max-width: 500px;
    width: 33vw;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
}


.input{
    font-size: 0.95rem;
    height: fit-content;
}

@media screen and (max-width: 900px) {
    #svg {
        display: none;
    }
    #formDiv {
        width: 90vw;
        justify-self: center;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding: 1rem;
        position: relative;
    }
    #form{
        padding:  10% 5%;
        max-width: 90vw;
        width: 95%;
        height: fit-content;
        align-self: center;
        align-content: center;
        align-items: center;
    }
    #switch{
        color: white;
    }
}