.card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 1rem;
}
.accordion{
    display: none;
}

@media screen and (max-width: 900px) {
    .accordion{
        display: block;
    }
}