#body {
    box-sizing: border-box;
    width: 100%;
    margin: 4rem 0 4rem 5rem;
    align-self: center;
    align-items: flex-start;
    justify-content: space-between;
}

.accordion-container {
    display: none;
}

@media screen and (max-width: 900px) {
    #body {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .accordion-container {
        display: block;
        width: 75%;
        margin: 0 auto 1rem auto;
    }

    .map {
        display: hidden;
    }
}

