.cardComponent {
    box-sizing: border-box;
    min-height: 200px;
    height: 100%;
    width: 100%;
    background: #F8F6F5;
    border: 3px solid #000000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 1.5rem;
    text-align: start;
    max-width: 40vw;
}

.right-col{
    text-align: right;
}
a{
    color: #AA283C;
    text-decoration: none;
}
a:hover {
    color: black;
}


.details {
    font-size: 0.75rem;
}

#adress {
    font-weight: 400;
}
.skeleton {
    opacity: .7;
    animation: loading 1s linear infinite alternate;
}
@keyframes loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

@media screen and (max-width: 900px) {
 .cardComponent{
     box-shadow: 4px 4px 0px #AA283C;
     max-width: 90vw;
 }
 
}