@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



#football {
    height: 70px;
    width: auto;
    position: absolute;
    top: 50vh;
    left: 45vw;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    transform-origin: center;
    z-index: 50;
}
