#feed{
    height: fit-content;
    width: 45vw;
}
#feedLiked{
    width: 100vw;
    height: fit-content;
    margin-left: 0;
}

@media screen and (max-width: 900px) {
    #feed {
        width: 90vw;
        justify-content: center;
    }
}