#feed{
    height: fit-content;
    width: 42vw;
}
#feedLiked{
    width: 99vw;
    height: fit-content;
    margin-left: 0;
}

@media screen and (max-width: 900px) {
    #feed {
        width: 90vw;
        justify-content: center;
    }
    #my-businesses-h2{
        color: white;
    }
}