.county:hover {
    fill: #AA283C;
}

.businessType:hover {
    filter: none;
    transform: translate(4px, 4px);
}

.ownerType:hover {
    filter: none;
    transform: translate(4px, 4px);
}


#map {
    margin-left: -10%;
    margin-right: 7%;
    display: block;
}

@media screen and (max-width: 900px) {
    #map {
        background: black;
        display: none;
    }
}








